:root {
  --bg: #021b30;
  --fontColor: #e5e0ef;
  --shadow: rgb(236, 244, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--bg);
    color: var(--fontColor);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
